<div class="item">
    <p>Nome</p>
    <input type="text" name="nome" required/>
</div>
<div class="item">
    <p>CNPJ</p>
    <input type="number" name="CNPJ" required/>
</div>
<div class="item">
    <p>País de Origem</p>
    <select required>
        <option value="">País</option>
        <option value="1">Alemanha</option>
        <option value="2">Austrália</option>
        <option value="3">Armenia</option>
        <option value="4">Brazil</option>
        <option value="5">Canada</option>
        <option value="6">Estados Unidos</option>
        <option value="7">França</option>
      </select>
</div>
<div class="item">
    <p>Descrição</p>
    <input type="text" name="nome"/>
</div>