<div class="item">
    <p>Partida</p>
    <input type="date" name="bdate" required/>
    <i class="fas fa-calendar-alt"></i>
</div>
<div class="item">
    <p>Chegada</p>
    <input type="date" name="bdate" required/>
    <i class="fas fa-calendar-alt"></i>
</div>
<div class="item">
    <p>Local de Partida</p>
    <input type="number" name="CNPJ" required/>
</div>
<div class="item">
    <p>Local de Chegada</p>
    <input type="number" name="CNPJ" required/>
</div>
<div class="item">
    <p>CNPJ</p>
    <input type="number" name="CNPJ" required/>
</div>
<div class="item">
    <p>Avião utilizado</p>
    <!-- TODO -->
    <select required>
        <option value="">Selecione Avião</option>
        <option value="1">Avião 1</option>
        <option value="1">Avião 2</option>
        <option value="1">Avião 3</option>
        <option value="1">Avião 4</option>
      </select>
</div>
<div class="item">
    <p>Portão utilizado</p>
    <!-- TODO -->
    <select required>
        <option value="">Selecione Portão</option>
        <option value="1">Portão 1</option>
        <option value="1">Portão 2</option>
        <option value="1">Portão 3</option>
        <option value="1">Portão 4</option>
      </select>
</div>
<div class="item">
    <p>Companhia</p>
    <!-- TODO -->
    <select required>
        <option value="">Selecione Companhia</option>
        <option value="1">Companhia 1</option>
        <option value="1">Companhia 2</option>
        <option value="1">Companhia 3</option>
        <option value="1">Companhia 4</option>
      </select>
</div>