body,h1,h2,h3,h4,h5,h6 {
    font-family: "Lato", sans-serif
}

.w3-bar,h1,button {
    font-family: "Montserrat", sans-serif
}

.background-image{
    padding: 20px;
    background-image: url("/images/plane-sunset.jpg");
    background-repeat: no-repeat;
    width: 100%;
    height: auto;
    background-position: -1837px -878px; 
}

.home-title{
    text-align: center !important;
    margin-top: 20px!important;
    font-size: 64px!important;
}

.button-title{
    content: center;
}

.fa-anchor,.fa-coffee {
    font-size:200px
}

#logo{
    margin-top: 50px;
    width: 10%;
    height: 10%;
}


#logoName{
    font-family: 'Montserrat';
    font-weight: 700;
}