<div class="hidden">
    <input type="text" name="entity" value="aviao"/>
    <% if (key && key_value) { %>
        <input type="text" name="key" value="<%= key %>"/>
        <input type="text" name="key_value" value="<%= key_value %>"/>
    <% } %>
</div>
<div class="item">
    <p>Capacidade</p>
    <input class="hidden" type="text" name="type_capacidade" min="1" max="525" value="int"/>
    <% if( action === 'add') { %>
        <input type="number" name="capacidade" required/>
    <% } else { %>
        <input type="number" name="capacidade"  value="<%= row['capacidade']%>" required/>
    <% } %>
</div>
<div class="item">
    <p>Modelo</p>
    <input class="hidden" type="text" name="type_modelo" value="string"/>
    <% if( action === 'add') { %>
        <input type="text" name="modelo" required/>
    <% } else { %>
        <input type="text" name="modelo" value="<%= row['modelo']%>" required/>
    <% } %>
</div>