<div class="item">
    <p>Nome</p>
    <% if( action === 'add') { %>
        <input type="text" name="nome" required/>
    <% } else { %>
        <input type="text" name="nome" value=<%= companhia.nome %> required/>
    <% } %>
</div>
<div class="item">
    <p>CNPJ</p>
    <% if( action === 'add') { %>
        <input type="number" name="cnpj" required/>
    <% } else { %>
        <input type="number" name="cnpj" value=<%= companhia.cnpj %> required/>
    <% } %>
</div>
<div class="item">
    <p>País de Origem</p>
    <select required>
        <option value="">País</option>
        <option value="1">Alemanha</option>
        <option value="2">Austrália</option>
        <option value="3">Armenia</option>
        <option value="4">Brazil</option>
        <option value="5">Canada</option>
        <option value="6">Estados Unidos</option>
        <option value="7">França</option>
      </select>
</div>
<div class="item">
    <p>Descrição</p>
    <% if( action === 'add') { %>
        <input type="text" name="nome"/>
    <% } else { %>
        <input type="text" name="nome" value=<%= companhia.descricao %>/>
    <% } %>
</div>